<h3 style="margin:3px" class="blue">New Order</h3>
<form name="form" #f="ngForm" novalidate>
<table>
      <tr>
        <td>Order Number:</td>
        <td>{{newOrder.orderNumber}}</td>
        <td>Order Date:</td>
        <td>{{curDate |date:'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <td>Customer:</td>
        <td><select name="customers" #customerSelect (change)='onCustomerOptionSelected(customerSelect.value)'>
          <option *ngFor='let customer of customersList' [value]='customer.customerId'>{{customer.name}}</option>
        </select>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td><select name="statuses" #statusSelect (change)='onStatusOptionSelected(statusSelect.value)'>
          <option *ngFor='let status of statuses' [value]='status'>{{status}}</option>
        </select>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Total Cost:</td>
        <td>{{newOrder.totalCost}}</td>
        <td></td>
        <td></td>
      </tr>
</table>
<span style="margin: 1px; font-weight:bold; font-size:16px; padding-right: 270px">Add Products:</span>
<button align="right" class="tbl-btn btn-link" (click)="redirectToAddProductsToOrder()">Add Products To Order</button>     
<table class="bluewhite border">
      <tr class="white darkblueback">
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Category</th>
        <th>Product Size</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      <tr *ngFor="let product of productsList">
          <td>{{product.productId}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.category}}</td>
          <td>{{product.size}}</td>
          <td>{{product.quantity}}</td>
          <td>${{product.price}}</td>
      </tr>
      </table>
      <br>
      <span style="vertical-align: top; padding-right: 10px">Comment:</span>
      <textarea name="comment" style="resize:none" [(ngModel)]="newOrder.comments" rows="5" cols="55"></textarea>
    </form>
    <br>
<div align="right" style="width:515px">
<button align="right" class="tbl-btn btn-link" (click)="addOrder()">Save</button>&nbsp;
<button align="right" class="tbl-btn btn-link" (click)="cancelNewOrder()">Cancel</button> 
</div>
