.nav-bar {
    border-radius:3px;
}

a {
    color:black;
    background-color:lightgrey;
    font-size:25px; 
    border-style: solid; border-color: black; border-width:2px; 
    padding-right: 30px;
    text-decoration: none;
}

.active {
    color:black;
    background-color: white;
    font-size:25px; 
    border-style: solid; border-color: black; border-width:2px; 
    padding-right: 30px;
    text-decoration: none;
}