<!--The content below is only a placeholder and can be replaced.-->
<h3 style="margin-bottom:1px"> Web Portal</h3>
    <h5 style="margin-top:1px"><span style="padding-right: 30px"></span> by {{ author }}</h5> 
<nav>
<a routerLink="orders" role="button"  routerLinkActive="active">Orders</a>
&nbsp;<a routerLink="products" role="button"  routerLinkActive="active">Products</a>
&nbsp;<a routerLink="customers" role="button"  routerLinkActive="active">Customers</a>
</nav> 
<router-outlet></router-outlet>
