<span style="margin:1px; font-weight:bold; font-size:16px; padding-right: 380px" class="blue">View Product</span>
<button style="background-color: rgb(202, 199, 199)" class="tbl-btn btn-link" (click)="editProduct()">Edit</button>
<form name="form" #f="ngForm" novalidate>
<table>
      <tr>
        <td>Product Number:</td>
        <td>{{product.productId}}</td>
        <td>Created Date:</td>
        <td>{{product.createdDate |date:'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <td>Product Name:</td>
        <td>{{product.productName}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Product Category:</td>
        <td>{{product.category}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Available Quantity:</td>
        <td>{{product.quantity}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td>${{product.price}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Decription:</td>
        <td colspan="2"><textarea name="comment" style="resize:none" cols="24" rows="5"></textarea>
        </td>
        <td></td>
      </tr>
</table>