  <span style="margin: 1px; font-size:16px; padding-right: 445px" class="blue">Products</span>
  <button  class="tbl-btn btn-link" (click)="redirectToAddNewProduct()">New <br> Product</button>
  <table class="table-bordered">
      <tr class="white darkblueback">
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Category</th>
        <th>Product Size</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let product of productsList">
          <td><a routerLink="{{product.productId}}">{{product.productId}}</a></td>
          <td>{{product.productName}}</td>
          <td>{{product.category}}</td>
          <td>{{product.size}}</td>
          <td>{{product.quantity}}</td>
          <td>${{product.price}}</td> <!--<a routerLink="./" (click)="deleteProduct(product.productId)">Delete</a>-->
          <td><button mat-button (click)="openDialog(product.productId)">Delete</button></td>
      </tr>  <!-- routerLink="/products/{{product.productId}}" -->
      </table>  <!-- [routerLink]="['/products',product.productId]" -->
