/* You can add global styles to this file, and also import other style files */
.blue {color:rgb(37, 37, 216); font-weight: bold;}
.white {color:rgb(234, 234, 248);}
.greybackground {background-color:rgb(241, 180, 180);}
.darkblueback {background-color:rgb(14, 54, 163);}