table.bluewhite tr:nth-child(even)  {
    background-color:rgb(97, 210, 238);
}
table.border {border: 1px solid black; border-radius: 7px;
}
table.border th {border: 1px solid black;}
table.border td {border: 1px solid black;}

