<span style="margin:1px; font-weight:bold; font-size:16px; padding-right: 380px" class="blue">View Order</span>
<button style="background-color: rgb(202, 199, 199)" class="tbl-btn btn-link" (click)="editOrder()">Edit</button>
<table>
      <tr>
        <td>Order Number:</td>
        <td>{{order.orderNumber}}</td>
        <td>Order Date:</td>
        <td>{{order.orderDate |date:'dd/MM/yyyy'}}
</td>
      </tr>
      <tr>
        <td>Customer:</td>
        <td>{{order.customer.name}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td>{{order.status}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Total Cost:</td>
        <td>{{order.totalCost}}</td>
        <td></td>
        <td></td>
      </tr>
</table>
<h4>Order Products:</h4>    
<table class="bluewhite border">
      <tr class="white darkblueback">
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Category</th>
        <th>Product Size</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      <tr *ngFor="let product of products">
          <td>{{product.productId}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.category}}</td>
          <td>{{product.size}}</td>
          <td>{{product.quantity}}</td>
          <td>${{product.price}}</td>
      </tr>
      </table>
      <br>
      <span style="vertical-align: top; padding-right: 10px">Comment:</span>
      <textarea name="comment" style="resize:none" rows="5" cols="52"></textarea>