  <!-- <div style="width:470px; clear: left; margin:3px"> -->
  <span style="margin: 1px; font-size:16px; padding-right: 335px" class="blue">Customers</span>
  <button class="tbl-btn btn-link" (click)="redirectToAddNewCustomer()">New <br> Customer</button>
  <table class="table-bordered">
      <tr class="white darkblueback">
        <th>Customer Name</th>
        <th>Customer Adress</th>
        <th>Total Ordered Cost</th>
        <th>Orders Count</th>
      </tr>
      <tr *ngFor="let customer of customersList">
          <td>{{customer.name}}</td>
          <td>{{customer.address}}</td>
          <td>{{customer.totalOrderedCost}}</td>
          <td>{{customer.ordersCount}}</td>
      </tr>
      </table>