<h3 style="margin:3px" class="blue">New Product</h3>
<form name="form" #f="ngForm" novalidate>
<table>
      <tr>
        <td>Product Number:</td>
        <td>{{newProduct.productId}}</td>
        <td>Order Date:</td>
        <td>{{curDate |date:'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <td>Product Name:</td>
        <td><input class="input" type="text"  name="productName" [(ngModel)]="newProduct.productName"
          required />
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Product Category:</td>  <!--[(ngModel)]="newProduct.category" -->
        <td><select name="categories" #categorySelect (change)='onCategoryOptionSelected(categorySelect.value)'>
          <option *ngFor='let category of categories' [value]='category'>{{category}}</option>
        </select>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Product Size:</td>
        <td><select name="sizes" #sizeSelect (change)='onSizeOptionSelected(sizeSelect.value)'>
          <option *ngFor='let size of sizes' [value]='size'>{{size}}</option>
        </select>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Available Quantity:</td>
        <td><input class="input" type="text"  name="quantity" [(ngModel)]="newProduct.quantity"
          required />
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><input class="input" type="text"  name="price" [(ngModel)]="newProduct.price"
          required />
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
          <td>Decription:</td>
          <td colspan="2"><textarea name="comment" style="resize:none" [(ngModel)]="newProduct.comment" cols="30" rows="5"></textarea>
          </td>
          <td></td>
        </tr>
</table>
<br>
<div align="right" style="width:610px">
<button class="tbl-btn btn-link" (click)="addProduct()">Save</button>&nbsp;
<button class="tbl-btn btn-link" (click)="cancelAddNewProduct()">Cancel</button> 
</div>

