<h3 style="margin:3px" class="blue">New Customer</h3>
<form name="form" #f="ngForm" novalidate>
<table>
      <tr>
        <td>Created Date:</td>
        <td>{{curDate |date:'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <td>Customer Name:</td>
        <td><input class="input" type="text"  name="customerName" [(ngModel)]="newCustomer.name"
          required />
        </td>
      </tr>
      <tr>
        <td>Customer Address:</td>
        <td><textarea name="customerAddress" style="resize:none" [(ngModel)]="newCustomer.address" rows="5"></textarea>
        </td>
      </tr>
</table>
<br>
<div style="width:450px">
<div align="right">
<button align="right" class=" tbl-btn btn-link" (click)="addCustomer()">Save</button>&nbsp;
<button align="right" class=" tbl-btn btn-link" (click)="cancelAddNewCustomer()">Cancel</button> 
</div>
</div>
