<span style="margin: 1px; font-size:16px; padding-right: 380px" class="blue">Orders</span>
<button  class="tbl-btn btn-link" (click)="redirectToAddNewOrder()">New <br> Order</button>
<table class="table-bordered">
<!--<caption>List of Orders</caption> -->
    <tr class="white darkblueback">
      <th>Order Number</th>
      <th>Customer Name</th>
      <th>Customer Address</th>
      <th>Total Cost</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let order of ordersList">
        <td><a routerLink="{{order.orderNumber}}">{{order.orderNumber}}</a></td>
        <td>{{order.customerName}}</td>
        <td>{{order.customerAddress}}</td>
        <td>${{order.totalCost}}</td>
        <td>{{order.orderStatus}}</td>
    </tr>
    </table>