<h4 style="margin:3px" class="blue">Add Product To Order</h4>
<form name="form" #f="ngForm" novalidate>
Product Number: {{productDetails.productId}}
<br>
Product Name:
<select name="products" #productSelect (change)='onProductOptionSelected(productSelect.value)'>
          <option *ngFor='let product of productsList' [value]='product.productId'>{{product.productName}}</option>
</select>
<br>
Product Category: {{productDetails.category}}
<br>
Quantity:
<input class="input" type="text"  name="quantity" [(ngModel)]="quantity"/>
<br>
Product Size: <select name="sizes" #productSizeSelect (change)='onSizeOptionSelected(productSizeSelect.value)'>
  <option *ngFor='let size of sizes' [value]='size'>{{size}}</option>
</select>
<br>
<br>
</form>
<span style="vertical-align: top; padding-right: 300px"></span>
<div style="display: inline">
      <button class="tbl-btn btn-link" (click)="addProductToOrder()">Save</button>&nbsp;
      <button class="tbl-btn btn-link" (click)="cancelAddProductToOrder()">Cancel</button>
</div>
